In [1]:
import pandas as pd

In [2]:
hap_legend_header = ['id', 'position', 'ref', 'alt']
hap_legend_delimiter = " "

In [3]:
path = '../data/hap_legend/37/chromosome.1.legend'

In [4]:
hap_legend = pd.read_csv(path, delimiter=hap_legend_delimiter)
hap_legend.head()

,id,position,a0,a1,TYPE,AFR,AMR,EAS,EUR,SAS,ALL
0,1:10177:A:AC,10177,A,AC,Biallelic_INDEL,0.490923,0.360231,0.336310,0.405567,0.494888,0.425319
1,1:10235:T:TA,10235,T,TA,Biallelic_INDEL,0.000000,0.001441,0.000000,0.000000,0.005112,0.001198
2,rs145072688:10352:T:TA,10352,T,TA,Biallelic_INDEL,0.478820,0.410663,0.430556,0.426441,0.419223,0.437500
3,1:10505:A:T,10505,A,T,Biallelic_SNP,0.000756,0.000000,0.000000,0.000000,0.000000,0.000200
4,1:10506:C:G,10506,C,G,Biallelic_SNP,0.000756,0.000000,0.000000,0.000000,0.000000,0.000200

In [6]:
hap_legend['TYPE'].value_counts()

TYPE
Biallelic_SNP             6196151
Biallelic_INDEL            237012
Multiallelic_SNP            37903
Multiallelic_INDEL          24831
Biallelic_DEL                2437
Biallelic_INS:ME:ALU          953
Multiallelic_CNV              378
Biallelic_DUP                 354
Biallelic_INS:ME:LINE1        235
Biallelic_INS:ME:SVA           85
Biallelic_INV                  10
Biallelic_INS:MT                9
Name: count, dtype: int64

In [7]:
hap_legend.position.min(), hap_legend.position.max()

(10177, 249240543)

In [8]:
hap_legend.position.dtype

dtype('int64')

In [9]:
hap_legend.ALL.dtype

dtype('float64')